#infoChildren {
    padding: 50px 0 80px 0;
}

.infoChildrenBg {
    background: url('../../assets/img/voluntaryReportImageBg.png') no-repeat center/cover;
    height: 450px;
    border-radius: 18px;
}

.infoChildren h1 {
font-weight: 600;
font-size: 28px;
color: #202020;
padding: 40px 0 20px 0;
}

.infoChildren p {
width: 100%;
font-weight: 600;
font-size: 18px;
color: #202020;
padding: 0 0 20px 0;
}

.infoChildren-general {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.infoChildren-group-one {
    max-width: 869px;
    width: 100%;
}

.infoChildren-block-one {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background: var(--Tretiary, #F7F8FB);
    padding: 20px 26px;
}

.infoChildren-block-one h6 {
font-weight: 500;
font-size: 18px;
line-height: 24px;
color: #202020;
width: 100%;
padding: 0 0 26px 0;
}

.infoChildren-block-one h6 span {
    font-weight: 600;
}

.infoChildren-group-one h4 {
font-weight: 600;
font-size: 18px;
line-height: 24px;
color: Grey;
padding: 20px 0 40px 0;
width: 100%;
}

.infoChildren-group-one h2 {
font-weight: 600;
font-size: 28px;
color: #202020;
}

.infoChildren-group-one h3 {
font-weight: 500;
font-size: 18px;
line-height: 24px;
color: #202020;
padding: 26px 0 20px 0;
width: 100%;
}

.infoChildren-block-two {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background: var(--Tretiary, #F7F8FB);
    padding: 20px 26px;
}

.infoChildren-block-two h6 {
font-weight: 500;
font-size: 18px;
color: #202020;
line-height: 24px;
width: 100%;
padding: 0 0 26px 0;
}

.infoChildren-block-two h5 {
font-weight: 500;
font-size: 18px;
line-height: 24px;
color: #202020;
width: 100%;
}

.info-sidebar-children {
    width: 320px;
    position: sticky;
    top: 120px;
}

@media (max-width: 1440px) {
    .container {
        width: 90%;
    }
    .infoChildren-group-one {
        max-width: 799px;
    }
}

@media (max-width: 1200px) {
    .container {
        width: 90%;
    }
    .infoChildren-group-one {
        max-width: 589px;
    }
}

@media (max-width: 1024px) {
    .container {
        width: 90%;
    }
    .infoChildren-group-one {
        max-width: 469px;
    }
    .infoChildrenBg {
        height: 400px;
    }
    .infoChildren p {
        width: 85%;
        line-height: 26px;
    }
}

@media (max-width: 992px) {
    .container {
        width: 90%;
    }
    .infoChildren-group-one {
        max-width: 439px;
    }
    .infoChildrenBg {
        height: 380px;
    }
    .infoChildren p {
        width: 85%;
        line-height: 26px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
    .infoChildren-group-one {
        max-width: 100%;
    }
    .infoChildrenBg {
        height: 330px;
    }
    .infoChildren p {
        width: 100%;
        line-height: 26px;
    }
    .infoChildren-general {
        flex-direction: column;
    }
    .infoChildren-block-two {
        margin: 0 0 30px 0;
    }
    .info-sidebar-children {
        width: 100%;
    }
    .infoChildren h1 {
        font-size: 27px;
    }
    .infoChildren-group-one h2 {
        font-size: 27px;
    }
}

@media (max-width: 576px) {
    .container {
        width: 90%;
    }
    .infoChildren-group-one {
        max-width: 100%;
    }
    .infoChildrenBg {
        height: 280px;
    }
    .infoChildren p {
        width: 100%;
        line-height: 26px;
        font-size: 17px;
    }
    .infoChildren-general {
        flex-direction: column;
    }
    .infoChildren-block-two {
        margin: 0 0 30px 0;
    }
    .info-sidebar-children {
        width: 100%;
    }
    .infoChildren h1 {
        font-size: 26px;
    }
    .infoChildren-group-one h2 {
        font-size: 26px;
    }
    .infoChildren-block-one h6 {
        font-size: 17px;
    }
    .infoChildren-group-one h4 {
        font-size: 17px;
    }
    .infoChildren-group-one h3 {
        font-size: 17px;
    }
    .infoChildren-block-two h6 {
        font-size: 17px;
    }
    .infoChildren-block-two h5 {
        font-size: 17px;
    }
}

@media (max-width: 450px) {
    .container {
        width: 90%;
    }
    .infoChildren-group-one {
        max-width: 100%;
    }
    .infoChildrenBg {
        height: 230px;
    }
    .infoChildren p {
        width: 100%;
        line-height: 24px;
        font-size: 17px;
    }
    .infoChildren-general {
        flex-direction: column;
    }
    .infoChildren-block-two {
        margin: 0 0 30px 0;
    }
    .info-sidebar-children {
        width: 100%;
    }
    .infoChildren h1 {
        font-size: 25px;
    }
    .infoChildren-group-one h2 {
        font-size: 25px;
    }
    .infoChildren-block-one h6 {
        font-size: 17px;
    }
    .infoChildren-group-one h4 {
        font-size: 17px;
    }
    .infoChildren-group-one h3 {
        font-size: 17px;
    }
    .infoChildren-block-two h6 {
        font-size: 17px;
    }
    .infoChildren-block-two h5 {
        font-size: 17px;
    }
}

@media (max-width: 400px) {
    .container {
        width: 90%;
    }
    .infoChildren-group-one {
        max-width: 100%;
    }
    .infoChildrenBg {
        height: 200px;
    }
    .infoChildren p {
        width: 100%;
        line-height: 24px;
        font-size: 16px;
    }
    .infoChildren-general {
        flex-direction: column;
    }
    .infoChildren-block-two {
        margin: 0 0 30px 0;
    }
    .info-sidebar-children {
        width: 100%;
    }
    .infoChildren h1 {
        font-size: 24px;
    }
    .infoChildren-group-one h2 {
        font-size: 24px;
    }
    .infoChildren-block-one h6 {
        font-size: 16px;
    }
    .infoChildren-group-one h4 {
        font-size: 16px;
    }
    .infoChildren-group-one h3 {
        font-size: 16px;
    }
    .infoChildren-block-two h6 {
        font-size: 16px;
    }
    .infoChildren-block-two h5 {
        font-size: 16px;
    }
}

@media (max-width: 375px) {
    .container {
        width: 90%;
    }
    .infoChildren-group-one {
        max-width: 100%;
    }
    .infoChildrenBg {
        height: 200px;
    }
    .infoChildren p {
        width: 100%;
        line-height: 24px;
        font-size: 16px;
    }
    .infoChildren-general {
        flex-direction: column;
    }
    .infoChildren-block-two {
        margin: 0 0 30px 0;
    }
    .info-sidebar-children {
        width: 100%;
    }
    .infoChildren h1 {
        font-size: 24px;
    }
    .infoChildren-group-one h2 {
        font-size: 24px;
    }
    .infoChildren-block-one h6 {
        font-size: 16px;
    }
    .infoChildren-group-one h4 {
        font-size: 16px;
    }
    .infoChildren-group-one h3 {
        font-size: 16px;
    }
    .infoChildren-block-two h6 {
        font-size: 16px;
    }
    .infoChildren-block-two h5 {
        font-size: 16px;
    }
}

@media (max-width: 320px) {
    .container {
        width: 90%;
    }
    .infoChildren-group-one {
        max-width: 100%;
    }
    .infoChildrenBg {
        height: 170px;
    }
    .infoChildren p {
        width: 100%;
        line-height: 24px;
        font-size: 16px;
    }
    .infoChildren-general {
        flex-direction: column;
    }
    .infoChildren-block-two {
        margin: 0 0 30px 0;
    }
    .info-sidebar-children {
        width: 100%;
    }
    .infoChildren h1 {
        font-size: 24px;
        line-height: 31px;
        width: 100%;
    }
    .infoChildren-group-one h2 {
        font-size: 24px;
    }
    .infoChildren-block-one h6 {
        font-size: 16px;
    }
    .infoChildren-group-one h4 {
        font-size: 16px;
    }
    .infoChildren-group-one h3 {
        font-size: 16px;
    }
    .infoChildren-block-two h6 {
        font-size: 16px;
    }
    .infoChildren-block-two h5 {
        font-size: 16px;
    }
}